div.wrapper {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

html, body{
font-size:16px;
width:100vw;
height:100%;
}

div.container {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 50px;
width:100vw;
color: #808080;
background: #ADD8E6;
border: 1px solid black;
border-radius: 20px;
width: 90vw;
padding: 20px;
}

header{
width:100vw;
color: black;
background: #ADD8E6;
}
div.response{
border-radius: 20px;
width:  80vw;
color: black;
background: white ;
}

