body {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

a { 
margin:20px;
}
button{ 
  margin:20px;
}
html, body{
font-size:16px;
width:100vw;
height:100%;
}

div.container {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 50px;
width:100vw;
color: #808080;
background: #ADD8E6;
}

header {
width:100vw;
color: #808080;
background: #ADD8E6;
}
div.response{
border: 1px solid black;
border-radius: 20px;
hieght:auto;
width:  80vw;
color: black;
background: white ;
}
